section.contribution
  .container
    +blockBox("Cống hiến cho cộng đồng","Những cống hiến của Madame Liên đối với cộng đồng")
    .contribution-list
      +contributionItem("../../images/img-contribution1.jpg", "Nước Sạch", "fas fa-hand-holding-water")
      +contributionItem("../../images/img-contribution2.jpg", "Bảo Hiểm", "fas fa-hospital")
      +contributionItem("../../images/img-contribution3.jpg", "Thiện Nguyện", "fas fa-hand-holding-heart") 