section.contributiondetails
  .container
    +blockBox("Cống hiến", "Những cống hiến của Madame")
    .contributiondetails-content
      img.contributiondetails-image(src="../images/img-contribution-details.png")
      a(href="index.html")
        span.contributiondetails-text1 Nước sạch
      a(href="#")
        span.contributiondetails-text2 Thiện nguyện
      a(href="#")
        span.contributiondetails-text3 Ngoại giao
      a(href="#")
        span.contributiondetails-text4 Giúp đỡ startup
      a(href="#")
        span.contributiondetails-text5 Bảo hiểm
      

    //- .contributiondetails-item3
    //-   a.contributiondetails-link(href="#") Giúp đỡ startup
    //- .contributiondetails-item4
    //-   a.contributiondetails-link(href="#") Ngoại giao
    //- .contributiondetails-item5
    //-   a.contributiondetails-link(href="#") Bảo hiểm

  