section.contributiondetails
  .container
    img.contributiondetails-image(src="../images/img-contributiondetails.png")
    .contributiondetails-item
      a.contributiondetails-link(href="#") Nước sạch
    .contributiondetails-item
      a.contributiondetails-link(href="#") Thiện nguyện
    .contributiondetails-item
      a.contributiondetails-link(href="#") Giúp đỡ startup
    .contributiondetails-item
      a.contributiondetails-link(href="#") Ngoại giao
    .contributiondetails-item
      a.contributiondetails-link(href="#") Bảo hiểm

  