footer.footer
  .container
    .footer-top
      .footer-column
        a(href="index.html").footer-heading Madame Liên
        p.footer-desc Đây là trang web giới thiệu về Madame Liên và những cống hiến thành tựu của Madame Liên.
        .footer-social
          span Theo dõi thêm thông tin: 
          .footer-social-list
            a.footer-social-icon(href="https://www.facebook.com/SharkLien")
              i.fab.fa-facebook
            a.footer-social-icon(href="https://www.youtube.com/channel/UCTyHeMwx1x5u5EirSvqLtcw")
              i.fab.fa-youtube
    .footer-bottom &copy; 2022 