header.headerwater
  .container
    .headerwater-top
      a(href="../index.html") 
        img.headerwater-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headerwater-toggle
      ul.headerwater-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến","contributionpage.html")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")
      
      