header.headermedia
  .container
    .headermedia-top
      a(href="../index.html") 
        img.headermedia-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headermedia-toggle
      ul.headermedia-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến","contributionpage.html")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")