header.headerinsurance
  .container
    .headerinsurance-top
      a(href="../index.html") 
        img.headerinsurance-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headerinsurance-toggle
      ul.headerinsurance-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến","contributionpage.html")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")