header.headercharity
  .container
    .headercharity-top
      a(href="../index.html") 
        img.headercharity-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headercharity-toggle
      ul.headercharity-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến","contributionpage.html")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")
      
      