header.header
  .container
    .header-top
      img.header-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.header-toggle
      ul.header-menu
        +menuLink("Tiểu sử")
        +menuLink("Công hiến")
        +menuLink("Quotes")
        +menuLink("Media")
    .header-content
      h2.header-content-caption Doanh nhân
      h2.header-content-caption Nhà đầu tư
      h1.header-content-main Shark Liên có tên thật là Đỗ Thị Kim Liên hay còn gọi với cái tên “Madam Liên” là một nữ doanh nhân và là Lãnh sự Danh dự nước Cộng hòa Nam Phi tại Việt Nam
      
      