header.headerbio
  .container
    .headerbio-top
      a(href="../index.html") 
        img.headerbio-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headerbio-toggle
      ul.headerbio-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến","contributionpage.html")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")
      
      