header.headerquote
  .container
    .headerquote-top
      a(href="../index.html") 
        img.headerquote-logo(src="../images/logo-lotus.png")
      i.fa.fa-bars.headerquote-toggle
      ul.headerquote-menu
        +menuLink("Tiểu sử","biography.html")
        +menuLink("Công hiến")
        +menuLink("Quotes","quotes.html")
        +menuLink("Media","media.html")