section.intro
  .container
    .intro-info-container
      h2.intro-info-title Xin chào
       h2.intro-info-title Tôi là Đỗ Thị Kim Liên
      p.intro-info-desc Đỗ Thị Kim Liên từng là một giáo viên dạy Văn trước khi chuyển về công tác tại bảo tàng Vũng Tàu vào năm 1993. Sau gần 3 năm đứng trên bục giảng, bà quyết định vào Nam lập nghiệp
      button.intro-more More