section.mediaactivities
  .container
    .mediaactivities-list
      +mediaactivitiesItem("../images/img-activities2.png")
      +mediaactivitiesItem("../images/img-activities3.png")
      +mediaactivitiesItem("../images/img-activities4.png")
      +mediaactivitiesItem("../images/img-activities5.png")
      +mediaactivitiesItem("../images/img-activities6.png")
      +mediaactivitiesItem("../images/img-activities7.png")
      +mediaactivitiesItem("../images/img-activities8.png")
      +mediaactivitiesItem("../images/img-activities9.png")