section.mediaactivities
  .container
    .mediaactivities-list
      +mediaactivitiesItem("../images/img-mediaactivities1.png")
      +mediaactivitiesItem("../images/img-mediaactivities2.png")
      +mediaactivitiesItem("../images/img-mediaactivities3.png")
      +mediaactivitiesItem("../images/img-mediaactivities4.png")
      +mediaactivitiesItem("../images/img-mediaactivities5.png")
      +mediaactivitiesItem("../images/img-mediaactivities6.png")
      +mediaactivitiesItem("../images/img-mediaactivities7.png")
      +mediaactivitiesItem("../images/img-mediaactivities8.png")
      +mediaactivitiesItem("../images/img-mediaactivities9.png")

.image-view 
.image-box
  #prev-btn
  #next-btn
script(src="../../scripts/scriptmedia.js" async defer)