section.mediaquote
  .container
    .mediaquote-list
      +mediaquoteItem("../images/img-mediaquote10.png")
      +mediaquoteItem("../images/img-mediaquote2.png")
      +mediaquoteItem("../images/img-mediaquote3.png")
      +mediaquoteItem("../images/img-mediaquote4.png")
      +mediaquoteItem("../images/img-mediaquote5.png")
      +mediaquoteItem("../images/img-mediaquote6.png")
      +mediaquoteItem("../images/img-mediaquote7.png")
      +mediaquoteItem("../images/img-mediaquote8.png")
      +mediaquoteItem("../images/img-mediaquote9.png")
      