section.quote
  .container
    .quote-container
      //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      .quote-content
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc “Đã không mơ thì thôi, đã mơ thì phải mơ lớn ”
          span.quote-author Madame Lien
      .quote-content
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc “Kiếm được tiền rõ ràng rất vui rồi, nhưng kiếm tiền còn phải đi kèm hạnh phúc”
          span.quote-author Madame Lien
      .quote-content
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc “Thể chất không có thì khó tư duy”
          span.quote-author Madame Lien
      //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow
