section.quote
  .container
    .quote-container
      i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      .quote-content
        .quote-icon
          img(src="../images/img-quote.png")
        .quote-info
          p.quote-desc “Đã không mơ thì thôi, đã mơ thì phải mơ lớn ”
          span.quote-author Madame Lien
      i.fal.fa-angle-right.quote-arrow-right.quote-arrow
