section.testimonial
  .container
    +blockBox("Cảm Nhận","Để đi xa, chúng ta luôn cần có những người ủng hộ mình.")
    ul.testimonial-list
      li.testimonial-item
        .testimonial-media
          img.testimonial-image(src="./images/img-testimonial1.png")
          .testimonial-content
             h3.testimonial-title Ông Nguyễn Bá Ngọc
             h3.testimonial-title CEO Công ty Mực nhảy Biển Đông
             p.testimonial-desc.text Shark Liên là một nữ Doanh nhân tuyệt vời từ tâm và tài! Tôi đã chọn Cô là người để bản thân học hỏi và noi theo! Tôi tin rằng với tấm lòng nhân hậu và những việc làm đầy nhân văn của Cô sẽ làm thay đổi được nhiều điều tốt đẹp hơn cho đất nước!
      li.testimonial-item
        .testimonial-media
          img.testimonial-image(src="./images/img-testimonial2.png")
          .testimonial-content
             h3.testimonial-title Bà Ngọc An Nhiên
             h3.testimonial-title CEO Công ty TNHH Auto Đức Trí
             p.testimonial-desc.text Lần đầu tiên tôi gặp Shark Liên qua zoom và được nghe Cô chia sẻ. Trong lòng tôi chợt thấy mình thật bé nhỏ trước người phụ nữ này. Tôi cảm nhận Cô Liên như một người mẹ có tình thương bao la, có tấm lòng Bồ tát. Gần gũi ấm áp. Không phải riêng tôi mà ai gặp Cô cũng muốn được ôm Cô để cảm nhận được sự ấm áp từ Cô tỏa ra, từ một người mẹ lan tỏa tình yêu thương cho các con của mình nguồn năng lượng an lành.
      li.testimonial-item
        .testimonial-media
          img.testimonial-image(src="./images/img-testimonial3.png")
          .testimonial-content
             h3.testimonial-title Trần Thế Tuyển
             h3.testimonial-title Đại tá – Nhà báo
             p.testimonial-desc.text Thành đạt, nổi tiếng trên thương trường, Đỗ Liên còn nổi tiếng bởi những việc làm nghĩa tình, sẻ chia với cộng đồng; đặc biệt với gia đình có công với nước, gia đình liệt sĩ, thương binh.

       
    
