section.testimonial
  .container
    +blockBox("Cảm Nhận","Cảm Nhận Của Mọi Người Đối Với Madame Liên")
    ul.testimonial-list
      li.testimonial-item
        .testimonial-media
          .testimonial-content
             h3.testimonial-title Đoàn Thị Anh Thư
             h3.testimonial-title CEO Vua Cua
             p.testimonial-desc.text Shark Liên là người sống tình cảm, nhân văn và luôn ủng hộ LGBT nên Thư chọn Shark Liên.
          img.testimonial-image(src="./images/img-testimonial1.png")
      li.testimonial-item
        .testimonial-media
          .testimonial-content
             h3.testimonial-title Đoàn Thị Anh Thư
             h3.testimonial-title CEO Vua Cua
             p.testimonial-desc.text Shark Liên là người sống tình cảm, nhân văn và luôn ủng hộ LGBT nên Thư chọn Shark Liên.
          img.testimonial-image(src="./images/img-testimonial1.png")
      li.testimonial-item
        .testimonial-media
          .testimonial-content
             h3.testimonial-title Đoàn Thị Anh Thư
             h3.testimonial-title CEO Vua Cua
             p.testimonial-desc.text Shark Liên là người sống tình cảm, nhân văn và luôn ủng hộ LGBT nên Thư chọn Shark Liên.
          img.testimonial-image(src="./images/img-testimonial1.png")
       
    
