.contributiondetails{
  background-color:  $gray-color;
  padding: 10rem 0;
  &-content{
    position: relative;
  }
  &-image{
    @include size(80%);
    margin: 0 auto;
    object-fit: cover;
    z-index: 1;
    // border: 1px solid black;
  }
  &-text1{
    @include contributeBox;
    @include flexbox(center, center);
    top:15%;
    left: 3%;
    transition: all 0.2s linear;
  }
  &-text1:hover{
    transform: scale(1.1);
  }
  &-text2{
    @include contributeBox;
    @include flexbox(center, center);
    top:13%;
    left: 35%;
    transition: all 0.2s linear;
  }
  &-text2:hover{
    transform: scale(1.1);
  }
  &-text3{
    @include contributeBox;
    @include flexbox(center, center);
    top:15%;
    right: 3%;
  }
  &-text3:hover{
    transform: scale(1.1);
  }
  &-text4{
    @include contributeBox;
    @include flexbox(center, center);
    bottom: 0%;
    left: 8%;
    transition: all 0.2s linear;
  }
  &-text4:hover{
    transform: scale(1.1);
  }
  &-text5{
    @include contributeBox;
    @include flexbox(center, center);
    bottom: 0%;
    right: 15%;
    transition: all 0.2s linear;
  }
  &-text5:hover{
    transform: scale(1.1);
  }
  .modal.fade{
    .modal-content{
      min-height: 30rem;
      border-radius: 9px;
      filter: drop-shadow(10px 10px 10px black);
      padding: 1.5rem 1rem;
    }
    .modal-body{
      padding: 0 8rem;
      .carousel-inner{
        margin-top: 2rem;
      }
    }
    .carousel-title{
      font-size: 26px;
      margin-bottom: 1.5rem;
    }
    .carousel-desc{
      font-size: 14px;
      font-weight: 300;
    }
    .btn.btn-default{
      background-color: black;
      color: white;
      font-size: 15px;
    }
  }
  @include maxWidth(767px){
    padding: 3rem 0;
    &-text1{
      font-size: 1.2em;
      padding: 0.5rem 1rem;
    }
    &-text2{
      font-size: 1.2em;
      padding: 0.5rem 1rem;
      left: 38%;
    }
    &-text3{
      font-size: 1.2em;
      padding: 0.5rem 1rem;
    }
    &-text4{
      font-size: 1.2em;
      padding: 0.5rem 1rem;
      left: 11%;
    }
    &-text5{
      font-size: 1.2em;
      padding: 0.5rem 1rem;
    }
    // .image-box {
      
    // }
  }
}