.foreigninfo{
  &-content{
    padding: 4.6rem 0;
  }
  &-titlebox{
    background-color: $primary-color;
    left: 0;
    display: inline-block;
    padding: 2.6rem 3.3rem;
  }
  &-title{
    font-size: 5.2rem;
    font-weight: 600;
  }
  &-desc{
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 6rem auto  4rem;
    width: 80%;
  }
  @include  maxWidth(767px){
    &-titlebox{
      padding:1.5rem;
    }
    &-title{
      font-size: 3rem;
    }
    &-desc{
      font-size: 2.2rem;
      margin: 2rem auto 0.5rem;
      line-height: 1.4;
    }
  }
}