.testimonial {
  padding: 10rem 0;
  background-color: $gray-light-color;
  &-list {
    @include flexbox(stretch, space-between);
  }
  &-item {
    width: calc(33.33% - 3rem);
  }
  &-content {
    margin-top: 10rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid $gray-dark-color;
    box-shadow: 0 0 3px black;
    position: relative;
    padding: 5rem 2rem;
    transition: all 0.3s linear;
  }
  &-media {
    position: relative;
    margin-bottom: 2rem;
  }
  &-content:hover {
    background-color: rgba(black, 0.5);
    color: white;
  }
  &-image {
    position: absolute;
    left: 29%;
    bottom: 80%;
    z-index: 2;
  }
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.4rem;
    transform: translateY(50%);
  }
  &-desc {
    font-style: normal;
    margin-bottom: 2rem;
    padding: 0;
    transform: translateY(20%);
    font-size: 1rem;
    // line-height: 1.4;
  }
  @include minWidth(767px) {
    &-desc {
      @include textClamp(3);
    }
  }
  @include maxWidth(767px) {
    padding: 3rem 0;
    &-list {
      margin-top: 2rem;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-columns: 100%;
      grid-auto-flow: column;
      grid-template-columns: unset;
      grid-row-gap: 1.5rem;
      overflow-x: auto;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      align-items: center;
      @include hideScroll();
    }
    &-image {
      display: none;
    }
    &-content {
      margin-top: 0;
      padding: 0 1.5rem;
      width: 95%;
      height: 35rem;
    }
    &-item {
      width: 100%;
    }
    // &-image {
    //   position: unset;
    //   @include flexbox(center, center);
    //   flex-shrink: 0;
    //   transform: scale(0.7);
    // }
    &-desc {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
