html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.43 rem; }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/img-header-bg.jpg") no-repeat center/cover;
  color: white; }
  .header-logo {
    width: 6rem;
    height: 6rem; }
  .header-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .header-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-top {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-content {
    padding-top: 170px;
    text-align: left;
    max-width: 80rem;
    margin: 0; }
  .header-content-caption {
    font-size: 6.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .header-content-main {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header .header-content {
        padding-top: 100px; }
      .header .header-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .header-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .header-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .header-menu-link:hover {
      color: #FDC151;
      border-bottom-color: #FDC151; } }
  @media screen and (max-width: 767px) {
    .header .header-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .header .header-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .header .header-content {
      padding-top: 5rem; }
    .header .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 300px;
      display: block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform .25s ease-in;
      transition: -webkit-transform .25s ease-in;
      transition: transform .25s ease-in;
      transition: transform .25s ease-in, -webkit-transform .25s ease-in; }
    .header .header-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .header .header-menu-item {
      margin-bottom: 1rem; }
    .header .header-menu-icon {
      display: block;
      color: #333333;
      padding: 15px; }
      .header .header-menu-icon:hover {
        color: #FDC151; }
    .header .header-menu-link {
      color: #333333;
      width: 100%;
      padding: 15px;
      border-radius: 4px; }
      .header .header-menu-link:hover {
        color: white;
        background-color: #FDC151; }
    .header .header-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.intro {
  background: url(../../images/img-intro.jpg) no-repeat center/cover;
  min-height: 80rem;
  padding-top: 14rem; }
  .intro-info-container {
    margin-left: auto;
    margin-right: 0;
    width: 33.33%;
    padding-top: 6.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid black; }
  .intro-info-title {
    font-size: 3.5rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: #333333;
    margin-bottom: 0.5rem; }
  .intro-info-title:last-of-type {
    margin-bottom: 3rem; }
  .intro-info-desc {
    font-size: 2.4rem;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: #333333;
    margin-bottom: 8.5rem;
    line-height: 1.4; }
  .intro-more {
    padding: 1rem 2.5rem;
    font-size: 2.8rem;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    color: white;
    margin-bottom: 4.5rem;
    background: black;
    border-radius: 1rem;
    cursor: pointer; }

.contribution {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white; }
  .contribution-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .contribution-item {
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  .contribution-item:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .contribution-item:hover .contribution-content {
      opacity: 1;
      visibility: visible; }
    .contribution-item:hover:after {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }
  .contribution-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDC151;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear;
    z-index: -1; }
  .contribution-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253, 193, 81, 0.8)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to bottom, rgba(253, 193, 81, 0.8), rgba(0, 0, 0, 0.5));
    z-index: 2;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem; }
  .contribution-icon {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
  .contribution-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  @media screen and (max-width: 767px) {
    .contribution {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .contribution-list {
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 2.5rem;
        overflow-x: auto;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .contribution-list::-webkit-scrollbar {
          display: none; }
      .contribution-item {
        scroll-snap-align: start; } }

.testimonial {
  padding: 10rem 0;
  background-color: #f5f5f5; }
  .testimonial-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .testimonial-item {
    width: calc(33.33% - 3rem); }
  .testimonial-content {
    margin-top: 10rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    position: relative;
    padding: 5rem 2rem; }
  .testimonial-media {
    position: relative;
    margin-bottom: 2rem; }
  .testimonial-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: absolute;
    left: 12.5rem;
    bottom: 15rem;
    z-index: 2; }
  .testimonial-title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.4;
    font-size: 1.2rem;
    -webkit-transform: translateY(50%);
    transform: translateY(50%); }
  .testimonial-desc {
    font-style: normal;
    margin-bottom: 2rem;
    padding: 1rem 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    font-size: 1rem;
    line-height: 1.4; }

.quote {
  padding: 6.5rem 0;
  background-color: black; }
  .quote-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .quote-arrow {
    color: #cccccc;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem 2rem; }
  .quote-content {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .quote-icon {
    width: 15rem;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border: 3px solid #FDC151;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .quote-info {
    padding-left: 6rem; }
  .quote-desc {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2.5rem;
    font-style: italic;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  .quote-author {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem;
    color: white; }
    .quote-author:before {
      content: " ";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 6rem;
      height: 4px;
      background-color: #FDC151;
      left: 0; }
  @media screen and (max-width: 767px) {
    .quote-arrow {
      display: none; }
    .quote-content {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .quote-icon {
      width: 10rem;
      height: 10rem; }
      .quote-icon img {
        max-width: 50%; }
    .quote-info {
      padding-left: 0;
      margin-top: 3rem; }
    .quote-desc {
      display: block;
      font-size: 1.6rem; }
    .quote-author {
      font-size: 2rem; } }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .block-box-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .block-box-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative; }
  .block-box-heading:after {
    content: "";
    width: 6.5rem;
    height: 4px;
    background-color: #FDC151;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0; }
  .block-box-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #333333;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 10rem; }
  @media screen and (max-width: 767px) {
    .block-box-caption {
      font-size: 2rem; }
    .block-boxheading {
      font-size: 2.5em;
      margin-bottom: 2.5em;
      padding: 2.5em; }
    .block-box-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem; } }

.headerbio {
  min-height: 100rem;
  background: url("../../images/img-headerbio-bg.jpg") no-repeat center/cover;
  color: white; }
  .headerbio-logo {
    width: 6rem;
    height: 6rem; }
  .headerbio-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .headerbio-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .headerbio-top {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headerbio-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headerbio-content {
    padding-top: 170px;
    text-align: left;
    max-width: 80rem;
    margin: 0; }
  .headerbio-content-caption {
    font-size: 6.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .headerbio-content-main {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .headerbio {
      min-height: unset; }
      .headerbio .headerbio-content {
        padding-top: 100px; }
      .headerbio .headerbio-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .headerbio-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .headerbio-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .headerbio-menu-link:hover {
      color: #FDC151;
      border-bottom-color: #FDC151; } }
  @media screen and (max-width: 767px) {
    .headerbio .headerbio-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .headerbio .headerbio-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .headerbio .headerbio-content {
      padding-top: 5rem; }
    .headerbio .headerbio-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 300px;
      display: block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
      transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in; }
    .headerbio .headerbio-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .headerbio .headerbio-menu-item {
      margin-bottom: 1rem; }
    .headerbio .headerbio-menu-icon {
      display: block;
      color: #333333;
      padding: 15px; }
      .headerbio .headerbio-menu-icon:hover {
        color: #FDC151; }
    .headerbio .headerbio-menu-link {
      color: #333333;
      width: 100%;
      padding: 15px;
      border-radius: 4px; }
      .headerbio .headerbio-menu-link:hover {
        color: white;
        background-color: #FDC151; }
    .headerbio .headerbio-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.bioinfo-content {
  padding: 4.6rem 0; }

.bioinfo-content:nth-child(even) {
  background-color: #f6f6f6; }

.bioinfo-titlebox {
  background-color: #FDC151;
  left: 0;
  display: inline-block;
  padding: 2.6rem 3.3rem; }

.bioinfo-title {
  font-size: 5.2rem;
  font-weight: 600; }

.bioinfo-desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 6rem auto  4rem;
  width: 50%; }

.headerquote {
  min-height: 100rem;
  background: url("../../images/img-headerquote-bg.jpg") no-repeat center/cover;
  color: white; }
  .headerquote-logo {
    width: 6rem;
    height: 6rem; }
  .headerquote-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .headerquote-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .headerquote-top {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headerquote-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headerquote-content {
    padding-top: 170px;
    text-align: left;
    max-width: 80rem;
    margin: 0; }
  .headerquote-content-caption {
    font-size: 6.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .headerquote-content-main {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .headerquote {
      min-height: unset; }
      .headerquote .headerquote-content {
        padding-top: 100px; }
      .headerquote .headerquote-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .headerquote-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .headerquote-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .headerquote-menu-link:hover {
      color: #FDC151;
      border-bottom-color: #FDC151; } }
  @media screen and (max-width: 767px) {
    .headerquote .headerquotecontent-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .headerquote .headerquote-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .headerquote .headerquote-content {
      padding-top: 5rem; }
    .headerquote .headerquote-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 300px;
      display: block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
      transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in; }
    .headerquote .headerquote-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .headerquote .headerquote-menu-item {
      margin-bottom: 1rem; }
    .headerquote .headerquote-menu-icon {
      display: block;
      color: #333333;
      padding: 15px; }
      .headerquote .headerquote-menu-icon:hover {
        color: #FDC151; }
    .headerquote .headerquote-menu-link {
      color: #333333;
      width: 100%;
      padding: 15px;
      border-radius: 4px; }
      .headerquote .headerquote-menu-link:hover {
        color: white;
        background-color: #FDC151; }
    .headerquote .headerquote-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.mediaquote {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: #f6f6f6; }
  .mediaquote-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem; }
  .mediaquote-item {
    margin-bottom: 3rem; }
  .mediaquote-item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  @media screen and (max-width: 767px) {
    .mediaquote {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .mediaquote-list {
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 2.5rem;
        overflow-x: auto;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .mediaquote-list::-webkit-scrollbar {
          display: none; }
      .mediaquote-item {
        scroll-snap-align: start; } }

.headermedia {
  min-height: 100rem;
  background: url("../../images/img-media-bg.png") no-repeat center/cover;
  color: white; }
  .headermedia-logo {
    width: 6rem;
    height: 6rem; }
  .headermedia-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .headermedia-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .headermedia-top {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headermedia-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headermedia-content {
    padding-top: 170px;
    text-align: left;
    max-width: 80rem;
    margin: 0; }
  .headermedia-content-caption {
    font-size: 6.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .headermedia-content-main {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .headermedia {
      min-height: unset; }
      .headermedia .headermedia-content {
        padding-top: 100px; }
      .headermedia .headermedia-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .headermedia-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .headermedia-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .headermedia-menu-link:hover {
      color: #FDC151;
      border-bottom-color: #FDC151; } }
  @media screen and (max-width: 767px) {
    .headermedia .headermediacontent-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .headermedia .headermedia-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .headermedia .headermedia-content {
      padding-top: 5rem; }
    .headermedia .headermedia-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 300px;
      display: block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
      transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in; }
    .headermedia .headermedia-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .headermedia .headermedia-menu-item {
      margin-bottom: 1rem; }
    .headermedia .headermedia-menu-icon {
      display: block;
      color: #333333;
      padding: 15px; }
      .headermedia .headermedia-menu-icon:hover {
        color: #FDC151; }
    .headermedia .headermedia-menu-link {
      color: #333333;
      width: 100%;
      padding: 15px;
      border-radius: 4px; }
      .headermedia .headermedia-menu-link:hover {
        color: white;
        background-color: #FDC151; }
    .headermedia .headermedia-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.mediaactivities {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: #f6f6f6; }
  .mediaactivities-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem; }
  .mediaactivities-item {
    margin-bottom: 3rem; }
  .mediaactivities-item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
  @media screen and (max-width: 767px) {
    .mediaactivities {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .mediaactivities-list {
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 2.5rem;
        overflow-x: auto;
        padding: 1rem;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .mediaactivities-list::-webkit-scrollbar {
          display: none; }
      .mediaactivities-item {
        scroll-snap-align: start; } }

.headercontribution {
  min-height: 100rem;
  background: url("../../images/img-contribute-bg.jpg") no-repeat center/cover;
  color: white; }
  .headercontribution-logo {
    width: 6rem;
    height: 6rem; }
  .headercontribution-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .headercontribution-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .headercontribution-top {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .headercontribution-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .headercontribution-content {
    padding-top: 170px;
    text-align: left;
    max-width: 80rem;
    margin: 0; }
  .headercontribution-content-caption {
    font-size: 6.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .headercontribution-content-main {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .headercontribution {
      min-height: unset; }
      .headercontribution .headercontribution-content {
        padding-top: 100px; }
      .headercontribution .headercontribution-content-main {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    .headercontribution-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .headercontribution-menu-link {
      color: white;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .headercontribution-menu-link:hover {
      color: #FDC151;
      border-bottom-color: #FDC151; } }
  @media screen and (max-width: 767px) {
    .headercontribution .headercontributioncontent-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .headercontribution .headercontribution-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .headercontribution .headercontribution-content {
      padding-top: 5rem; }
    .headercontribution .headercontribution-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 300px;
      display: block;
      padding: 20px 25px;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.25s ease-in;
      transition: -webkit-transform 0.25s ease-in;
      transition: transform 0.25s ease-in;
      transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in; }
    .headercontribution .headercontribution-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .headercontribution .headercontribution-menu-item {
      margin-bottom: 1rem; }
    .headercontribution .headercontribution-menu-icon {
      display: block;
      color: #333333;
      padding: 15px; }
      .headercontribution .headercontribution-menu-icon:hover {
        color: #FDC151; }
    .headercontribution .headercontribution-menu-link {
      color: #333333;
      width: 100%;
      padding: 15px;
      border-radius: 4px; }
      .headercontribution .headercontribution-menu-link:hover {
        color: white;
        background-color: #FDC151; }
    .headercontribution .headercontribution-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

.contributiondetails {
  background-color: #f6f6f6;
  padding: 10rem 0; }
  .contributiondetails-content {
    position: relative; }
  .contributiondetails-image {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1; }
  .contributiondetails-text1 {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    top: 15%;
    left: 3%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .contributiondetails-text1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .contributiondetails-text2 {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    top: 13%;
    left: 35%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .contributiondetails-text2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .contributiondetails-text3 {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    top: 15%;
    right: 3%; }
  .contributiondetails-text3:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .contributiondetails-text4 {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    bottom: 0%;
    left: 8%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .contributiondetails-text4:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .contributiondetails-text5 {
    position: absolute;
    font-size: 5rem;
    padding: 1rem 2.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    bottom: 0%;
    right: 15%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .contributiondetails-text5:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
