extends layout/layout

block vars
	-title = 'Main'
	-bodyClass = 'home-page'

block header
	include blocks/header
block container
	include blocks/intro
	include blocks/contribution
	include blocks/testimonial
	include blocks/quote