extends layout/layout

block vars
	-title = 'Madame Lien'
	-bodyClass = 'home-page'

block container
	include blocks/intro
	include blocks/contribution
	include blocks/testimonial
	include blocks/quote